@model MyPLEX.Models.ConfigVisualizacao
@using MyPLEX.Enums


@{
    ViewData["Title"] = "Config Visualização";
}

<div class="container">
    <center>
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Visualizador">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Section" class="control-label"></label>
                        <input type="number" asp-for="Section" class="form-control" value="1" />
                        <span asp-validation-for="Section" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EModoVisualizacao" class="control-label"></label>
                        <select asp-for="EModoVisualizacao" class="form-control custom-select" asp-items="Html.GetEnumSelectList<EModoVisualizacao>()"></select>
                        <span asp-validation-for="EModoVisualizacao" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Visualizar" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </center>

</div>