@font-face {
    font-family: 'Sketchzone';
    src: url('../fonts/sketchzone/Sketchzone.otf') format('opentype');
}

.font-sketchzone {
    font-family: Sketchzone !important;
}

.carousel-caption {
    padding: 20px;
    border-radius: 10px;
    opacity: .6;
    background: darkviolet;
}

.my-title {
    font-family: Sketchzone !important;
    font-size: 70px;
    color: #fff;
    text-shadow: 5px 5px #55bb79;
}

.my-desc {
    text-shadow: 2px 2px #000;
    text-align: justify;
    font-size: medium;
}

img {
    height: 100vh !important;
}

.row {
    margin: 10px;
    z-index: 200;
    width: 100%;
}

.eluander {
    padding: 2px;
    border-radius: 10px;
    opacity: .5;
    float: left;
}

.plex {
    padding: 2px;
    border-radius: 10px;
    opacity: .5;
    float: right;
}

.footer-plex {
    z-index: 200;
    position: absolute;
    bottom: 2px;
}

.carousel-control-next, .carousel-control-prev {
    width: 5% !important;
}